
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFCF0;
  --foreground: #1A1A1A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
